llama-index
langchain
unstructured
pypdf
python-docx
python-pptx
pdf2image
docx2txt
pillow
uvicorn
fastapi
tqdm
pandas
beautifulsoup4
pypandoc
llama-index-llms-ollama
llama-index
langchain
langchain-community
langchain-huggingface
sentence-transformers
ollama
python-pptx
python-docx
PyPDF2
